.gradient-background {
  background-color: #FEF2F4;
}

.bg1{
  background-color: #FCC8D1;
  
  
}

.nav-link{
  color: blue;
}

.title{
  align-items: flex-end;
}


.aboutme {
  display: flex;
  align-items: center;
}
@media (max-width: 772px) {
  .aboutme {
    
    flex-direction: column;
    align-items: center;
  }
  .photo {
    margin-top: 0;
    margin-bottom: 2rem;
    align-items: center;
  }
  .cards{
    flex-wrap: wrap;
  }
  .workex{
    flex-direction: column;
  }
}
.bg2{
  background-color: #FFABAB;
}

.bg3{
  /* background-color: #D14D72; */
  background-color: #fcc8d169;
}

.fonts{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dis{
  display: flex;
}


.centeralign{
  
  align-items: center;
  justify-content: center;
}
.textleft{
  text-align: left;
}

#skills{
  text-align: center;
  
}

#skills h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: crimson;
  font-size: 3rem;
}
.skill_heading{
  margin-top: 3rem; 
  margin-bottom: 3rem;
  color: purple;
}

.cards{
  align-items: center;

}
.card-body{
  flex-direction: column;
  margin-right: 5rem;
}
.card-img-top{
  height: 50px;
  width: auto;
}

.align2{
  margin-top: 50px;
  margin-left: 200px;
  align-items: center;
  justify-content: center;
}
.photo {
  width: 400px;
  height: 500px;
  border-radius: 50%;
}

.profile-img {
  height: 50px;
  border-radius: 50%;
}

#contactme h2 {
  color: #333;
  font-family: Georgia;
}

#contactme .btn-primary {
  background-color: rgba(0, 128, 0, 0.869);
  border-color: #1a9f4d;
}

#contactme .btn-primary.btn:hover {
  background-color: green;
}

#contactme .btn-outline-primary {
  color: black;
  border-color: hsl(211, 100%, 50%);
}

#contactme .btn-outline-secondary {
  color: black;
  border-color: #d029eac4;
  
}
#contactme .btn-outline-secondary.btn:hover{
  background-color: #d029ead0;
}








